/* 
.row:after {
    content: "";
    display: table;
    clear: both;
    } */
 div.main_viz{
    min-width: 50%;
    float: left;
    height: 90vh;

}
div.stationary_bars{
    min-height: 45vh;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 5%;
    margin-right: 5%;
    width: 90vw;

}
div.controllers{
    min-width: 45%;
    float: right;
    height: 95vh;
} 
.note_grid{
    height:55vh;
   
    padding-bottom: 3%;

}
.bar_viz{
    height:20vh;
}
.piano_viz{
    height: 20vh;
}


.row_visuals{
    margin-right: 2%;
    
}
