
/* Stationary  css */

/* 
div.stationary_container {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
min-height: 95vh;
min-width: 95vw;
}

div.stationary_bars { 
    grid-area: 1 / 1 / 3 / 6;
    min-height: 50vh;}
div.period_controllers{ 
    grid-area: 3 / 4 / 6 / 6; 
    /* min-height: 40vh;
}
div.last_grid { grid-area: 3 / 1 / 6 / 4; }
 */
div.stationary_container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
div.stationary_bars{
    min-height: 45vh;

    /* margin-bottom: auto; 
    /* margin-top: auto; */
    margin-left: 5%;
    margin-right: 5%;
    min-width: 90vw;

}
div.sliders_container{
    display: flex  ;
    flex-direction: column;
}
div.period_controllers{

    margin-top: auto;
    margin-left: auto;
    margin-bottom: 5%;

    margin-right: 5%;
    /* position: absolute; 
    /* bottom: 0;
    right: 0; */
}