{% extends 'baseHtml/base.html' %}

{% block nav_bar %}
<div class="pure-menu pure-menu-horizontal">
    <button class="pure-menu-heading pure-menu-link" onclick="change_visualization('main')">Main Visualization</button>
    <ul class="pure-menu-list">
        <li class="pure-menu-item">
            <button class="pure-menu-link" onclick="change_visualization('stationary')">Stationary Harmony Visualization</button>
        </li>
        <li class="pure-menu-item">
            <a href="#" class="pure-menu-link">Sports</a>
        </li>
        <li class="pure-menu-item">
            <a href="#" class="pure-menu-link">Finance</a>
        </li>
    </ul>
</div>
{% endblock %}

{% block html_body %}

<div class="hertz_container containers" id="container">

  
</div>
{% endblock %}

<!-- <div style="display:none">
<input id="midi_file" type="file" accept=".mid" >
<button id="submit_midi_for_process"  class="bg-blue-500 hover:bg-blue-700 rounded-full"  >Submit</button>

<hr>
<p>Amount of Workers</p>
<select id="amount_of_workers" >
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>

</select>
</div> -->
<!--     
<script src="/static/bootstrap/dist/js/bootstrap.bundle.min.js"></script> -->

{% block MIDI_js %}
{{   super() }}
{% endblock %}
{% block scripts %}

<!-- Adding all global variables -->
<script src="/static/js/LiveVisualization/Variables/global_variables.js"></script>
<script src="/static/js/LiveVisualization/Variables/interharmonic_variables.js"></script>
<script src="/static/js/LiveVisualization/Data_processors/Stationary_Tension/helper_functions/HarmonicCalculator.js"></script>


<!-- Adding vanilla visualizer -->
<script src="/static/js/LiveVisualization/Visualizers/vanilla_visualizer/CircleOfFifthsVisualization.js"></script>


<script src="/static/js/LiveVisualization/Visualizers/vanilla_visualizer/NoteGridVisualization.js"></script>
<script src="/static/js/LiveVisualization/Visualizers/vanilla_visualizer/HertzBarsVisualization.js"></script>

<!-- Adding Tension Computation~ers -->
 <script src="/static/js/LiveVisualization/Data_processors/Stationary_Tension/helper_functions/weights_for_harmonics.js"></script>
<script src="/static/js/LiveVisualization/Data_processors/Stationary_Tension/interharmonic_modulation_tension.js"></script>


<!-- Stationary Tension helpers and visualizers -->
<script src="/static/js/LiveVisualization/Data_processors/StationaryTensionFinder.js"></script>

<script src="/static/js/LiveVisualization/Visualizers/stationary_tension/NoteGridVisualization.js"></script>
<script src="/static/js/LiveVisualization/Visualizers/stationary_tension/interharmonic_graphs.js"></script>
<script src="/static/js/LiveVisualization/Visualizers/stationary_tension/StationarySineVisualization.js"></script>
<script src="/static/js/LiveVisualization/Visualizers/stationary_tension/__init__.js"></script>
<script src="/static/js/LiveVisualization/Visualizers/stationary_tension/ground_truth_bars.js"></script>

<!--  -->

<script src="/static/src/MidiController.js"></script>
<script src="/static/js/Worker.js"></script>
<script src="/static/js/LiveVisualization/Controllers/MidiInputsController.js"></script>
<script src="/static/js/LiveVisualization/Visualizers/vanilla_visualizer/PianoVisualization.js"></script>


<!-- Adding all OP controllers -->
 <script src="/static/js/LiveVisualization/Controllers/LiveVizualizationToolController.js"></script>
{% endblock %}


